* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  a {
    color: inherit;
  }
  body {
    color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/img/Group 24.svg");   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60% 70%;
    background-size: 40%;
  }
  .bas-header {
    width: 100%;
    height: 150px;
    padding: 20px 0;
    display: flex;
    transition: all 0.3s ease-in-out;
  }
  .bas-left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .bas-logo {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .bas-logo img {
    height: 90%;
    padding: 5px;
  }
  .bas-greetings {
    display: flex;
    width: 75%;
    height: 100%;
    font-size: 18px;
    line-height: 1.5em;
    align-items: center;
  }
  .bas-profile-img {
    height: 67%;
    width: 70px;
    margin: 0 20px 0 20%;
    border-radius: 50%;
  }
  @media only screen and (max-width: 950px) {
    .bas-header {
      flex-direction: column;
      height: auto;
      width: 100vw;
    }
    .bas-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }
    .bas-logo {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
    }
    .bas-greetings {
      width: 100%;
      height: 40%;
      margin: 15px auto;
      font-size: 18px;
      line-height: 1.5em;
      align-items: center;
    }
    .bas-profile-img {
      height: 67%;
      width: 70px;
      margin: 0 20px 0 auto;
      border-radius: 50%;
    }
    .bas-greetings p {
      margin-right: auto;
    }
  }

  mainbas {
    display: flex;
    justify-content: space-between;
    height: 88%;
    position: relative;
    
  }
  @media only screen and (max-width: 950px) {
    mainbas {
      display: flex;
      flex-direction: column;
      width: 100vw;
    }
    .bas-section {
      min-width: 100%;
      margin-top: 100px;
    }
    
    .bas-aside {
      min-width: 100%;
      display: flex;
      flex-direction: row;
    }

}
  .bas-aside {
    width: 17%;
    height: 600px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(79, 194, 123);
    border-left: 4px solid rgb(79, 194, 123);
  
  }
  .bas-new-aside {
    width: 17%;
    height: 600px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(79, 194, 123);
    border-left: 4px solid rgb(79, 194, 123);
  
  }
  .bas-menu-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 80%;
    width: 100%;
  }
  .bas-menu {
    width: 90%;
    height: 2.8em;
    padding: 15px 0;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px 0 0 10px;  
    transition: all 0.3s ease-in-out;
  
  }
  .bas-menu:hover {
    background: rgb(79, 194, 123, 0.6);
  }
  .bas-menu.active {
    background: rgb(79, 194, 123);
  }
  
  .bas-menu:first-of-type {
    margin-top: 15%;
  }
  .bas-logout {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bas-log-menu {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(79, 194, 123);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  aside .icon {
    margin: 0 20px;
    color: gray;
  }
  .bas-hamburger {
    display: none;
    columns: #fff;
  }
  @media only screen and (max-width: 950px) {
    .bas-hamburger {
      display: block;
      position: absolute;
      top: 5px;
      left: 2px;
      font-size: 3em;
      cursor: pointers;
      color: rgb(79, 194, 123);
      z-index: 99;
      transition: all 0.9s ease-in-out;
    }
  .bas-aside {
    display: none;
    
  }
  .bas-new-aside {
    width: 100%;
    height: fit-content;
    padding-bottom: 15px;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(78, 76, 72);
    border: none;
    transition: all 0.8s ease-in-out;
    
  }
  .bas-menu-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 80%;
    width: 100%;
  }
  .bas-menu {
    width: 90%;
    height: 2em;
    padding: 15px 0;
    border-radius: 10px 0 0 10px;  
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .bas-menu:hover {
    background: rgb(196, 192, 175);
  }
  .bas-menu.active {
    background: rgb(79, 194, 123);
  }
  
  .bas-menu:first-of-type {
    margin-top: 1%;
  }
  .bas-logout {
    height: 20%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .bas-log-menu {
    width: 100%;
  }
  
  }
  @media only screen and (max-width: 500px) {
    .bas-hamburger {
      top: 5px;
      left: 55px;
    }
    .bas-menu:first-of-type {
      margin-top: 13%;
    } 
  }

  .bas-section {
      /* background-color: red; */
    width: 83%;
    min-height: 80vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .form {
      font-size: 20px   ;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: left;
  }
  label {
      width: 60%;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: left;
  }
label input {
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgb(79, 194, 123);
}
.range input {
    width: 30%;
}

.bas-btn {
    background: rgb(79, 194, 123);
    margin: 10px 0;
    padding: 10px;
    width: 20%;
    min-height: 40px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
}