.c-board {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.c-board .wrap {
  border: 2px solid orange;
  width: 100%;
  max-width: 1700px;
  flex: 1;
}

.c-board .top {
  border: 3px solid rgb(145, 255, 0);
  height: 80px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c-board .logo {
  border: 1px solid red;
}

.c-board .logo img {
  width: 60px;
}

.c-board button {
  background-color: transparent;
  font-size: 0.9rem;
  color: #299445;
  width: 105px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
}

.c-board .body {
  border: 2px solid orchid;
  display: flex;
  flex-direction: row;
}

.c-board aside {
  border: 3px solid rgb(68, 0, 255);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.c-board .profile-pic {
  border: 1px solid orange;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.c-board .profile-pic .img-holder {
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.c-board .user-intro h3 {
  color: #2b2929;
  text-transform: capitalize;
}

.c-board .sidenav {
  border: 3px solid rgb(255, 30, 0);
  height: 500px;
}

.c-board .sidenav ul {
  border: 3px solid rgb(255, 30, 0);
  display: flex;
  flex-direction: column;
  height: inherit;
}

.c-board .sidenav li {
  border: 3px solid rgb(255, 30, 0);
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  color: #1f1e1e;
  font-size: 1.2rem;
}

.c-board .sidenav .aside-icon {
  width: 1.6rem;
  color: #6b6b6b;
  margin-right: 9px;
}

.c-board .content {
  border: 3px solid red;
  flex: 1;
  position: relative;
  display:  flex;
  flex-direction: row;
  overflow-y: scroll;
  padding:30px;
  flex-wrap: wrap;
  height: 760px
}

.c-board section::after {
  background: url(../assets/img/biglogo.png);
  opacity: 0.1;
  background-color: #d3d3d3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 20px;
}

.c-board .stores{
  border: 1px solid red;
  height: 300px;
  padding:5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 7px;
}

.c-board .store-img{
  width: 300px;
  height: 200px;
  background-color: #778899;
}

.c-board .store-detail{
  border: 1px solid blue;
}

.c-board .name-star{
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.c-board .name-star h3{
  border: 1px solid red;
  font-size: 1.3rem;
}

.c-board .name-star .star-holder{
  border: 1px solid red;
  color: gold;
}

.c-board .store-address p{
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 1px;
}

.c-board .order-cost{
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.c-board .order-cost p{
  font-size: 1rem;
  color: #474646;
}

