.customer-msg-wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
}

.customer-msg-wrapper .display {
  border-radius: 7px;
  height: 650px;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  overflow-y: scroll;
  background-color: #f1f1f1d3  ;
  border: 1px solid #a9adb391;
}

.customer-msg-wrapper .dmsg {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin-bottom: 5px;
  padding: 6px;
}

.customer-msg-wrapper .seller-msg {
  align-self: flex-start;
}

.customer-msg-wrapper .cust-msg {
  align-self: flex-end;
}

.dmsg .user span {
  text-transform: capitalize;
  font-size: 0.89rem;
  font-weight: bold;
}

.dmsg .msg span {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #e5ebf2;
  box-shadow: 2px 2px 3px -3px;
  border-radius: 8px;
  max-width: 300px;
  word-wrap: break-word;
  margin-left: 6px;
  margin-right: 6px;
  color: #000;
}

.customer-msg-wrapper .seller-msg .message {
  background-color: #fff;
  color: #000;
}

.customer-msg-wrapper .cust-msg .message {
  background-color: #008000c7;
  color: #fff;
}


.customer-msg-wrapper .type-message {
  border: 1px solid #b8b5b5;
  border-radius: 7px;
  width: 100%;
  max-width: 600px;
  height: 50px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  margin-top: 7px;
  background-color: #f1f1f186;
}

.customer-msg-wrapper input {
  flex: 1;
  border: 0px;
  font-size: 1.2rem;
  border: 1px solid #e4dddd  ;
  padding: 0 7px;
}

.customer-msg-wrapper input:focus {
 outline: none;
}


.customer-msg-wrapper button{
  padding:10px 30px;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(18, 138, 18, 0.938);
  color: #fff;
  border: 0px;
  margin-left: 10px;
  border-radius: 4px;
}


