.footer-wrapper{
  display:flex;
  flex-direction: column;
  background: #4d4d4d;
  color: #fff;
}

.footer-wrapper .footer-body{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;

}

.footer-body .logo{
  font-size: 1em;
}

.footer-body p{
  margin-top: 20px;
}

.footer-body .info,
.footer-body .company{
  font-size: 1em;
  font-weight: bold;
}

.info span,
.company span{
  display: block;
  margin-top: 20px;
  letter-spacing: 1px;
}

.footer-wrapper h3{
  color: #ffde5a;
  font-size: 1.3em;
}

.footer-body div{
  margin:3px

}

.footer-wrapper .ff{
  text-align: center;
  padding-bottom: 5px;
}

.ff span{
  font-weight: bold;
}