.how-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 20px 0px;
}

.title h1 {
  color: #37b12c;
  font-size: min(max(1rem, 3vw), 2em);
}

.how-wrapper .img-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 10px;
}

.how-wrapper .img-holder span{
  font-weight: bold;
  font-size: 1rem;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 23px;
}

.content-wrapper img {
  height: 120px
}

.content-wrapper .arr {
  height: 15px;
  align-self: center;
}

@media only screen and (max-width: 1200px) {
  .content-wrapper img {
    height: 100px;
    margin: 10px;
  }

  .content-wrapper .arr {
    height: 10px;
    align-self: center;
  }


}

@media only screen and (max-width: 900px) {
  .content-wrapper img {
    height: 80px;
    margin: 5px;
  }

  .content-wrapper .arr {
    height: 7px;
    align-self: center;
  }

  .how-wrapper {
    height: auto;
    padding: 10px;
  }

  .how-wrapper .img-holder span{
    font-size: 0.8rem;
  }

  .how-wrapper .img-holder{
    width: 150px;
  margin: 4px;

  }
}
