.login-container {
  background: url(../assets/img/background.png);
  background-repeat: no-repeat;
  background-position-x: right;
  min-height: 100vh;
  margin: 0px auto;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login-container > * {
  width: 100%;
  max-width: 1630px;
}

.login-container .top {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.login-container .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.login-container .nav ul {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-container .nav ul li {
  list-style: none;
  display: block;
  cursor: pointer;
}

.login-container .nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.login-container .nav button {
  border: 1px solid #fff;
  padding: 8px 25px;
  background-color: transparent;
  color: #fff;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
}

.login-container .body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container .body form {
  display: flex;
  flex-direction: column;
}

.login-container .title p {
  color: #757575;
  font-size: 1.5rem;
}

.login-container .title #welcome {
  font-size: 1.2rem;
  color: #414040;
}

.login-container .mark {
  color: #37b12c;
  font-weight: bold;
}

.login-container .title h1 {
  color: #414040;
  font-size: 2.5rem;
  margin: 25px 0px;
}

.login-container .title p {
  color: #757575;
  font-size: 1.5rem;
}

.login-container form .main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  margin-top: 100px;
  position: relative;
}
.login-container .main .pass,
.login-container .main .name {
  max-width: 500px;
  background-color: transparent;
}

.login-container .name input {
  border: 0px;
  border-bottom: 2px solid #b2b2b2;
  font-size: 1.3rem;
  padding: 15px;
  width: 100%;
  background: transparent;
}

.login-container .in-pass input:focus,
.login-container .name input:focus {
  outline: none;
}

.login-container .pass .in-pass {
  /* border: 0px; */
  border-bottom: 2px solid #b2b2b2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-container .in-pass input {
  border: 0px;
  padding: 15px;
  flex: 1;
  font-size: 1.3rem;
  background: transparent;
}

.login-container .pass #forget {
  text-align: right;
  margin-top: 5px;
}

.login-container .continue button {
  background-color: #37b12c;
  color: #fff;
  padding: 13px 73px;
  border: 0px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.login-container button .cont-icon {
  margin-left: 5px;
}

.login-container .main .google {
  margin-top: 20px;
}

.login-container .google button {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 13px 50px;
  border: 1px solid #37b12c;
  font-size: 0.7rem;
  border-radius: 7px;
}

.login-container form .footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 50px 0;
}

.login-container .footer p {
  font-size: 1rem;
}

.login-container .footer ul li {
  display: inline-block;
  margin-left: 5px;
}

/* hamburger */

.login-container .top .hamburger-icon {
  position: absolute;
  right: 0;
  opacity: 0;
}

/* slide out menu */

.login-container .slide-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.login-container .slide-menu .menu-items {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.login-container .menu-items ul {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.login-container .menu-items ul li {
  border-bottom: 1px solid #9e9c9a;
  margin: 0px;
  list-style: none;
}

.login-container .slide-menu li a {
  display: block;
  font-size: 1.2em;
  padding: 8px 0px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 100;
  width: 100%;
  height: 100%;
  transition: background-color 500ms ease-in-out;
}

.login-container .slide-menu li a:hover {
  background-color: #464343;
  color: #fff;
  font-weight: bold;
}

.login-container .slide-menu .close-icon {
  display: flex;
  justify-content: flex-end;
}

.login-container .invalid-input {
  line-height: 1;
  position: absolute;
  font-size: 0.88rem;
  left: 25%;
  color: red;
  top: -5px;
}

@media only screen and (max-width: 800px) {
  .login-container .nav {
    display: none;
  }
  .login-container .top .hamburger-icon {
    opacity: 1;
  }

  .login-container .slide-menu {
    visibility: visible;
    background-color: #4d4d4d;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: translatey(-165px);
    transition: transform 0.3s ease-in;
  }
}
