@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Roboto+Condensed&family=Roboto+Mono:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:-webkit-autofill,
.name input:-webkit-autofill:active,
.name input:-webkit-autofill:focus,
.name input:-webkit-autofill:hover {
  transition: background-color 5000s ease-in-out 0s;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  font-size: 1rem;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #root {
  height: 100%;
}
